<!doctype html>
<html lang="en">
  <head>
    <title>Datapackage Pipelines Playground</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Datapackage Pipelines Playground</h1>
          <h4>1. Fork a gist</h4>
          <p>
              Click on one of the following gists to start with
          </p><p>
              <a href="https://gist.github.com/OriHoch/b3f1319e910e44f55115df4e3cf62d63" target="_blank">Split</a> |
              <a href="https://gist.github.com/OriHoch/b3f1319e910e44f55115df4e3cf62d63" target="_blank">Join</a>
          </p><p>
              Fork the gist by clicking <strong>fork</strong> in the gist page (log-in to GitHub if needed)
          </p>
          <h4>2. Paste your modified gist URL and click "Run"</h4>
          <form method="post">
              <input type="url" name="gist_url" id="gist_url" size="50" placeholder="https://gist.github.com/user_name/gist_id"/>
              <input type="submit" value="Run"/>
          </form>
        </div>
      </section>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
